html, body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}

#bg {
    width: 30px;
    height: 32px;
    background-color: #768c9a;
}

#control {
    display: flex;
    justify-content: space-evenly;
    background-color: #768c9a;
    width: 100%;
    height:8%;
    align-items: center;
}

#brush {
    height: 32px;
    width: 110px;
    border-radius: 10px;
}